body {
    background: url(/assets/images/rock-paper-scissors-seamless-pattern.webp) center center fixed;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

#game-area {
    width: 70%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.player-square {
    width: 40%;
    height: 50%;
    background-color: red;
    float: left;
    margin: 5%;
}

.computer-square {
    width: 40%;
    height: 50%;
    background-color: red;
    float: right;
    margin: 5%;
}

#result-text {
    display: block;
    font-size: 150%;
}

#score-area {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#player-score {
    float: left;
    font-size: 150%;
}

#computer-score {
    float: right;
    font-size: 150%;
}

.control {
    height: 75px;
    width: 75px;
}
