body {
    background: url(/assets/images/rock-paper-scissors-seamless-pattern.webp) center center fixed;
    font-family: "Kanit", sans-serif;
    text-align: center;
}

#game-area {
    width: 60%;
    height: 80%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.image-container {
    width: 40%;
    height: 40%;
    background-color: magenta;
    float: left;
    margin: 5%;
    border-radius: 50%;
}

img {
    height: 50%;
    width: 50%;
    position: relative;
    top: 25%;
}

#result-text {
    display: block;
    font-size: 150%;
}

#score-area {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#player-score {
    float: left;
    font-size: 150%;
}

#computer-score {
    float: right;
    font-size: 150%;
}

.player-options {
}

.control {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

#restart {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin: 1rem;
}
